body {
    font-family: sans-serif;
}

h3 {
    font-weight: 600;
    margin: 15px;
}

h5 {
    margin: 15px 0;
}

h6 {
    text-align: center;
}

p {
    margin: 10px 0;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

#app-container {
    margin: 10px;
    padding-right: 10px;
}

#colombian-financial-system {
    background-color: rgb(1, 70, 1);
    ;
    color: white;
    font-size: 16;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 60%;
}

#intro-div {
    padding: 5%;
    text-align: justify;
}

#logo {
    width: 16%;
}

#more_data_btn {
    border-radius: 0;
    cursor: pointer;
    width: 20%;
}

.card-name {
    font-weight: 200;
}

.card-email {
    font-weight: 100;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-text {
    font-weight: 500;
    font-size: 4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-row {
    margin: 5px;
}

.describe-table {
    color: black;
    font-weight: 300;
    background-color: rgb(246, 251, 251);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.dropdown-type {
    margin-left: 25%;
    width: 50%;
}

.input-type {
    margin-left: 25%;
    text-align: right;
    width: 50%;
}

.menu-btns {
    padding: 6px 0px;
    text-align: left;
}

.statistic-table-col {
    text-align: left;
}

.value-table-col {
    text-align: right;
}