body {
    font-family: sans-serif;
}
h3 {
    font-weight: 600;
    margin: 15px;
}
h5 {
    margin: 15px 0;
}
p {
    margin: 10px 0;
}
td {
    text-align: center;
}
th {
    text-align: center;
}
#app-container {
    margin: 10px;
    padding-right: 10px;
}
#more_data_btn {
    border-radius: 0;
    cursor: pointer;
    width: 20%;
}
.describe-table {
    color: black;
    font-weight: 300;
    background-color: rgb(238, 252, 252);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.menu-btns {
    padding: 6px 0px;
    text-align: left;
}
