body {
    font-family: sans-serif;
}
h5 {
    margin: 15px 0;
}
p {
    margin: 10px 0;
}
#app-container {
    margin: 10px;
    padding-right: 10px;
}
#more_data_btn {
    border-radius: 0;
    cursor: pointer;
    width: 20%;
}
.menu-btns {
    padding: 6px 0px;
    text-align: left;
}
